<div class="w3-row-padding w3-margin-top" ng-controller="BoardCtrl">
    <div class="w3-third 3-third mySlides w3-animate-left" ng-repeat="item in cards track by $index">
        <div class="w3-card-16">
            <div class="item-class">
                <h4 class="card-header">
                    {{item.card}}</h4>
            </div>
            <slider images="item.sc"/>
            <div class="item-class" style="position: absolute;top:40%">
                <h4 class="card-header">
                    {{item.desc}}</h4>
            </div>
            <div class="play-button">
                <div class="w3-center">
                    <button class="w3-btn w3-green">سفارش</button>
                </div>
            </div>
        </div>
        <div style="margin: 10%"></div>
    </div>
</div>