<div class="w3-row-padding w3-margin-top farsi" ng-controller="SweetCtrl">
    <div class="w3-third 3-third w3-animate-left" ng-repeat="item in cards track by $index">
        <div class="w3-card-16">
            <a ng-href="/#/suite/{{item.id}}">
                <div class="mySlides">
                    <div class="item-class">
                        <h4 class="card-header">
                            {{item.title}}</h4>
                        <span class="w3-left w3-margin-4 w3-card-16 w3-tag w3-large w3-round-jumbo w3-green">
                            {{item.average_rate}}</span>
                    </div>
                    <div slider images="item.thumbnails"></div>
                    <div class="item-class" style="position: absolute;top:40%">
                        <h4 class="card-header">
                            {{item.description}}</h4>
                    </div>
                </div>
            </a>

            <div class="play-button w3-center">
                <div class="w3-left">
                    <span class="w3-margin-1 w3-card-16 w3-tag w3-large w3-round-jumbo w3-green">
                            {{item.city}}</span>
                </div>
                <div class="w3-center">
                    <button class="w3-btn w3-green">{{'order'| translate}}</button>
                </div>
            </div>
            <ul class="w3-ul w3-card-4 w3-card w3-khaki">
                <li class="w3-padding-16" ng-repeat="value in item.comments" ng-if="$index < 1">
                    <img src="assets/img/img_avatar.png" class="w3-left w3-circle w3-right"
                         style="width:30px;margin-left: 3%;margin-right: 3%;">
                    <span class="w3-large w3-right">{{value.comment}}</span><br>
                </li>
            </ul>
            <div class="w3-container w3-pink w3-show-block">
                <div class="w3-dropdown-hover w3-margin-2">
                    <span class="w3-large">{{item.comments.length}}</span>
                    <i class="material-icons w3-animate-opacity w3-hover-aqua" style="color: #30aae9;">comment</i>
                    <div class="w3-dropdown-content w3-card">
                        <div class="w3-container w3-light-grey" ng-repeat="comment in item.comments">
                            <h5 class="w3-hover-orange">{{comment.comment}}</h5>
                        </div>
                    </div>
                </div>
                <span class="w3-large w3-margin-2">{{item.vote_up}}</span>
                <i class="material-icons w3-animate-zoom w3-large" style="color: #449d44">ic_thumb_up</i>
                <span class="w3-large w3-margin-2">{{item.vote_down}}</span>
                <i class="material-icons w3-animate-zoom w3-large" style="color: #d58512">ic_thumb_down</i>
                <span class="w3-large w3-margin-2">{{item.viewed}}</span>
                <i class="material-icons w3-animate-zoom w3-large" style="color: #d58512">ic_visibility</i>
            </div>
        </div>
        <div style="margin: 10%"></div>
    </div>
</div>