<div class="w3-row-padding w3-margin-top" ng-controller="SweetCtrl">
    <div class="w3-third 3-third  w3-animate-left" ng-repeat="item in cards track by $index">
        <div class="w3-card-16">
            <div class="mySlides">
                <div class="item-class">
                    <h4 class="card-header">
                        {{item.title}}</h4>
                </div>
                <div slider images="item.thumbnails"></div>
                <div class="item-class" style="position: absolute;top:40%">
                    <h4 class="card-header">
                        {{item.description}}</h4>
                </div>
            </div>
            <div class="play-button">
                <div class="w3-center">
                    <button class="w3-btn w3-green">سفارش</button>
                </div>
                <button class="w3-btn w3-blue"
                        ng-style="" ng-click="commentClick(item.id);">Comment
                </button>
                <button class="w3-btn w3-green" ng-click="voteClick(item.id,1);"
                        ng-if="!item.VoteUp.disabled">Vote Up
                </button>
                <button class="w3-btn w3-red" ng-if="!item.VoteDown.disabled"
                        ng-click="voteClick(item.id,-1);">Vote Down
                </button>
            </div>
            <div class="w3-container w3-light-grey w3-center" ng-show="item.showComment">
                <span class="w3-padding-left">Your comment:</span>
                <textarea spellcheck="true" ng-model="$parent.comment" class="w3-text" maxlength="25"></textarea>
                <button class="w3-btn w3-green"
                        ng-click="submitComment(item.id);">SUBMIT
                </button>
            </div>
            <div class="w3-container w3-pink w3-show-block w3-left-align">
                <div class="w3-dropdown-hover">
                    <i class="material-icons w3-animate-opacity  w3-hover-orange">comment</i>

                    <div class="w3-dropdown-content w3-card">
                        <div class="w3-container w3-light-grey" ng-repeat="comment in item.comments">
                            <h4 class="w3-hover-orange">{{comment.comment}}</h4>
                        </div>
                    </div>
                </div>
                <i class="material-icons w3-animate-zoom w3-xlarge">ic_thumb_up</i><span
                    class="w3-xlarge">{{item.VoteUp.value}}</span>
                <i class="material-icons w3-animate-zoom w3-xlarge">ic_thumb_down</i><span
                    class="w3-xlarge">{{item.VoteDown.value}}</span>
            </div>
        </div>
        <div style="margin: 10%"></div>
    </div>
</div>